[2014-07-06 11:19] a-tze opened #72 "prevent race conditions reloaded - web interface"
*Issue migrated from trac ticket # 72*

**component:** webapp | **priority:** minor

#### 2014-07-06 11:19:10: @a-tze created the issue

___
suggestion for not giving out tickets on multiple human workers:

- add a DB column for a cookie, and a trigger like "on update set cookie=select random();"
- put the current cookie of a ticket in a hidden input
- compare the two values  on POST receive
- if

[2014-10-20 16:01] a-tze opened #90 "Create child tickets in trigger"
*Issue migrated from trac ticket # 90*

**component:** database | **priority:** major

#### 2014-10-20 16:01:11: @jjeising created the issue

___
With recent changes it's not possible nor useful anymore to create meta tickets without children. We should

1. Change create_missing_encoding_tickets to also depend on an encoding_profile_id
2. Change create_missing_recording_tickets(project_id) to crea

[2015-08-17 13:03] a-tze opened #109 "Improve script B"
*Issue migrated from trac ticket # 109*

**component:** contrib | **priority:** minor | **keywords:** scripts, worker, fuse, mount

#### 2015-08-17 13:03:59: @a-tze created the issue

___
Two things can be improved for finding errors:

  - Catch output from fuse-* and put it into the ticket comment (e.g. "WARNING: to few files found")
  - there should be a ffprobe run on the uncut.ts to check leng

[2016-01-18 01:56] a-tze opened #129 "Public Version: Git history"
*Issue migrated from trac ticket # 129*

**component:** unknown | **priority:** major

#### 2016-01-18 01:56:29: @jjeising created the issue

___
The current history isn't a very nice start for a public repository.

We may want to start with [changeset:ae1bcdd3b], where we removed other projects from the repository and started refactoring for version 3 (Library version 2). Another good starting po

[2016-08-04 19:46] a-tze opened #133 "Public version: choose license"
*Issue migrated from trac ticket # 133*

**component:** unknown | **priority:** blocker

#### 2016-08-04 19:46:10: @a-tze created the issue

___
For the public release, (at least) a license must be chosen.

[2017-01-26 22:37] a-tze opened #138 "worker queue helper indicator does not respect ownership"
The nifty little green or orange indicator next to the edit button of a ticket is also green if a ticket is in the previous state of a servicable state, but assigned to someone. The indicator states that the ticket is queued, while in fact it will not be given to workers as long as it is assigned to someone.

[2017-04-16 15:30] a-tze opened #140 "Issues with responsive scaling"
*Issue migrated from trac ticket # 140*

**component:** unknown | **priority:** major

#### 2017-04-16 15:30:52: derpeter created the issue

___
There are some intermediate states with errant behaviour. See attached screenshots.

[2017-06-22 12:06] a-tze opened #142 ""access denied" when diffing encoding profiles"
*Issue migrated from trac ticket # 142*

**component:** webapp | **priority:** minor

#### 2017-06-22 12:06:55: @a-tze created the issue

___
<xxx> ich wollte mir grad mal den unterschied zwischen den beiden opus encoding profiles anschauen
<xxx> ich kann sowohl 1 als auch 2 lesen
<xxx> aber wenn ich auf compare versions klicke, bekomme ich "Access denied"

[2017-07-18 23:52] a-tze opened #144 "Create API to set ticket priority"
*Issue migrated from trac ticket # 144*

**component:** rpc | **priority:** minor

#### 2017-07-18 23:52:20: @j-licht created the issue

[2017-11-11 19:59] a-tze commented on #133
License applied to script repository.

[2017-11-11 20:19] #133 closed

[2017-11-11 20:26] #129 closed

[2017-11-11 20:32] a-tze opened #145 "install script accepts empty password for admin user, breaks install"
... maybe the installer should repeat to ask.

[2017-11-11 20:38] jjeising commented on #109
@crs-tools/scripts this should probably move?

[2017-11-11 20:58] a-tze opened #146 "empty XSLT file on creating encoding profiles"
/encoding/profile/create should prefill the text box with an empty but syntactically correct XSLT file.

[2017-11-11 21:10] jjeising commented on #146
Could you suggest a default?

[2017-11-11 21:19] a-tze commented on #146
[code]

[2017-11-11 22:11] #146 closed

[2017-11-11 22:11] jjeising commented on #140
@a-tze Is this still reproducible?

[2017-11-12 11:13] a-tze commented on #140
![screenshot-23](https://user-images.githubusercontent.com/8227685/32698265-c26cc058-c7a2-11e7-8409-7110ff41f774.png)

This is a minor glitch I could find, the original behaviour seems to be corrected

[2017-11-12 11:40] a-tze commented on #109
moved to scripts

[2017-11-12 11:40] #109 closed

[2017-11-12 11:45] a-tze commented on #142
cannot reproduce anymore

[2017-11-12 11:45] #142 closed

[2017-11-12 11:54] jjeising commented on #90
@a-tze We should reevaluate the need and current state here.

[2017-11-12 12:03] #72 closed

[2017-11-12 12:08] pegro commented on #90
When we touch this, I would vote for a flag "create_ticket_via_trigger" on encoding profiles assigned to the project. For the encoding "cloud" of FeM we use a single tracker project for various encodings, where we only need a selection of the assigned profiles most of the time.

So I'd like to be able to mark encoding profiles of which child tickets get created.

[2017-11-12 12:50] a-tze commented on #90
So you have a certain project and don't want to have all encoding profiles for each ticket? If encoding tickets are not created automatically, which other possibility does the user have to create it?

Maybe a project-wide flag "auto-create (encoding) children" is sufficient?

[2017-11-13 15:13] pegro commented on #90
Right now he can use RPC call createEncodingTicket, which for now never creates one, instead only return the already existing one.
For Webapp users a "create encoding ticket" page with a dropdown/checkbox list of available profiles might be useful.

Sure, a project-wide flag would also help. But you already can delete meta and encoding ticket, but only create meta tickets manually. Why not also al

[2017-11-13 15:16] a-tze commented on #90
I'm not against allowing manual creation of encoding tickets. I only wanted to point out the contradiction to the current logic "always create children for all encoding profiles in project". So if we introduce a flag on the project to stop this automatic creation, the manual creation is of course the second half of the solution.

[2017-11-14 16:49] saerdnaer opened #147 "Add Python C3TT client to contribution folder?"
Add  https://github.com/voc/publishing/blob/master/src/api_client/c3tt_rpc_client.py (or later  https://github.com/voc/c3tt-worker) to https://github.com/crs-tools/tracker/tree/master/contribution ?

[2017-11-14 21:46] jjeising commented on #147
We determined that we would like to move the API libs from contribution to their own repositories.

I've created [crs-tools/tracker-xmlrpc-python](https://github.com/crs-tools/tracker-xmlrpc-python) and added you and @derpeter as contributors.

[2017-11-14 21:47] #147 closed

[2017-12-13 16:59] v0tti opened #151 "Don't lose cutpoints when extending the timeline"
If a recording is cut and is not long enough the previously set cutpoints should persist.

The Operator could already have spend a lot of time looking for the inpoint before noticing that the recording is not long enough. Currently the inpoint would be lost and the operator has to set it again.

[2017-12-13 17:09] a-tze commented on #151
This is difficult to achieve with current architecture, since the tracker application has no access to the info in the fuse mount.
Possible solution: set a property on the ticket that tells the mount worker to save and restore the cutmarks before unmount/after mount.

[2017-12-14 14:27] jjeising commented on #151
Wouldn't we also enable easy remounts when always restoring cut marks when they exist?

[2017-12-14 14:30] a-tze commented on #151
Looking at the mounts: yes. Looking at the ticket states: no. The ticket needs to be reset to recorded and then the previous state information is lost.

[2017-12-14 14:35] jjeising commented on #151
Why do we need the previous state? It should be safe to always restore if the properties exist, shouldn't it?

[2017-12-14 14:50] a-tze commented on #151
In the use case "restore mounts": if it was already cut, then it should end up in finalized without manual interaction and maybe without going through finalizing.
While in the use case of extending, it of course should end up in prepared (this happens right now and is ok).

[2017-12-14 20:09] jjeising commented on #151
Okay, we probably need a separate solution to trigger remounts (ideally without leaving finalized). But cut marks could always be restored.

[2017-12-14 20:19] a-tze commented on #151
Agree, therefore I already created https://github.com/crs-tools/crs-scripts/issues/4 and came to the conclusion that there should be no problem when always restoring cutmarks.

For documentation: there is a script that can manually restore mounts from all tickets in finalized:
https://github.com/crs-tools/crs-scripts/blob/master/scripts/restore-fuse-mounts.pl but of course there is no web UI for t

[2017-12-14 21:03] #151 closed

[2017-12-18 13:18] derpeter opened #152 "Import base_url and url from fahrplan an provide as property"
The schedule.xml can include a base_url for the conference and a url for each event. This should be part of the ticket to be available to the publishing.

This could also be added to the meta data by the postencoging worker

[2017-12-18 13:25] a-tze commented on #152
Discussion revealed that the base_url would be a project property and is not important for import.

[2017-12-18 13:46] a-tze commented on #152
Regarding the postencoding worker: I cannot find a suitable metadata tag for mp4/quicktime :-/

[2017-12-18 13:47] derpeter commented on #152
we can put it in the description field as text

[2017-12-30 17:26] a-tze opened #154 ""Reset to initial" in ticket edit view does not work"
The JS link under the state dropdown isn't functional anymore.

[2018-01-04 09:30] jjeising commented on #154
Works fine here in Safari and Chrome, do you have a browser, an error message or circumstances?

[2018-01-04 10:18] a-tze commented on #154
Firefox 52 on Win and Linux, possibly related error messages in the browser console:

11:17:53.542 Content Security Policy: Die Einstellungen der Seite haben das Laden einer Ressource auf blob:https://tracker.c3voc.de/6a51a6fd-6503-4968-82af-17f7d8507db4 blockiert ("default-src https://tracker.c3voc.de").
11:17:53.550 Content Security Policy: Die Einstellungen der Seite haben das Laden einer Resso

[2018-01-04 11:31] a-tze commented on #154
I meant version 57, sorry.

[2018-01-04 11:40] jjeising commented on #154
Works fine with 57.0.3 on tracker.c3voc.de. CSP errors are almost always related to plugins trying to inject javascript into the page.
Any active plugins? NoScript?

[2018-01-04 12:02] a-tze commented on #154
Yes, there is NoScript, but currently on "All scripts allowed". On Linux there was no NoScript. Other users also agreed that the link was infunctional for quite some time.

[2018-01-04 12:37] jjeising commented on #154
Further triage concluded the feature works as designed, but the description is ambiguous and may sugges, that the state should be set to the first state a ticket can be in.

[2018-01-23 21:14] jjeising opened #155 "Fahrplan ID length, readability and memorability"
Last years congress' Fahrplan IDs ranged from ~8700 to ~9300. With other events during the year we'll definitely have five digit IDs soon.

While this is technically no problem, readability and memorability suffer with more than four digits (reading _10-532_ may still work, but doesn't suggest itself immediately). Fahrplan IDs play are currently also prominently displayed in the tracker interface,

[2018-01-23 21:41] derpeter commented on #155
I would vote for keeping frab and tracker in sync regarding the id representation. I can work with 5 digits but i we probably will never exhaust that number space. Also we only have this problem at congress.

[2018-01-23 22:28] jjeising commented on #155
Once we crossed this affects all events managed with CCCs frab instance.

[2018-01-23 23:56] manno commented on #155
I understand human readable IDs are an important feature. However frab currently uses the database ID. Changing this acrosss the UI seems like a complicated change.

[2018-01-24 08:58] a-tze commented on #155
I like the thoughts being made. But from the perspective of the work on an event I have to say that the human brain kills redundant digits anyway. If there is a 4 day congress and you swim in numbers from 10.000 to 11.999, the first digit is just ignored anyway.
As I said, I like those ideas / IDs ;) but the straight and easy way is extending the tracker layout for five digits and be happy with th

[2018-02-03 17:14] a-tze opened #156 "Change effective privileges in some cases"
Especially users having "high" roles but being restricted to some projects do have effectively access to many things they shouldnt have. Especially the global settings like workers, encoding profile (contents/properties) etc. should be inaccessible to a user that is restricted to projects.

[2018-03-10 21:15] saerdnaer opened #157 "Change encoding profile dependency starting state per project"
As of now sub-tickets require their parent to be released – why not change this to already start with processing after master is in state postprocessed or higher.

https://github.com/crs-tools/tracker/blob/0d92c8918e3f666ab1ef279b9e12c7ccf53404e4/src/Application/View/tickets/view/_status.html.php#L30-L34

[side question: Is there a way to convert the state enum text values to there integer represe

[2018-03-10 21:18] a-tze commented on #157
@saerdnaer please provide a description.

[2018-03-11 13:41] jjeising commented on #157
This was a deliberate decision related to the architecture of the stack when this feature was introduced. At this point the released step copied the files to the internet which was required for access of cloud based encoders.

It might be possible to move this to an earlier state now, but when modifying this I would like to see an option on the parent encoding profile (_enable dependent profiles w

[2018-03-11 14:56] jjeising opened #158 "Project settings show error when ticket duration is invalid"
When a ticket in a project contains an invalid range (for example `0:60`) as a `Fahrplan.Duration` the project settings page shows an error:

[code]

It is using these values to calculate the total ticket duration. The error itself is right, but should be presented in a nicer way.

[2018-03-12 10:15] a-tze commented on #157
There are multiple issues with a change.

First of all, for the reasons already explained a different "parent minimum state" is only useful as a project property, since the setup may differ from event to event (maybe even additionally to such a setting in an encoding profile). But this would increase the complexity even more, and it's already very complex. Note that this is a code path that is exe

[2018-03-23 23:28] v0tti opened #159 "Can't delete worker group"
It is not possible to delete worker groups. The "delete" button for worker groups results in an InvalidForeignKeyException.
It seems only empty worker groups can be deleted, but a group can not be emptied manually.

[2018-03-24 10:09] jjeising commented on #159
With the current worker implementation this is not possible. The ability to remove worker groups for normal admins was removed in e6daf351.

A future implementation will remodel this and allow better management again.

[2018-03-24 10:09] #159 closed

[2018-03-30 16:35] v0tti opened #160 "Disable checking in encoding profile"
It should be possible to disable checking for certain encoding profiles. On many events the "subformats" are released without checking.

[2018-04-07 18:10] jjeising commented on #160
There is already an unmerged (private) pull request that needs some minor work. Will merge soon.

[2018-04-15 01:10] a-tze commented on #157
@jjeising I created a branch with the necessary changes. In the last commit there is a migration SQL. I would like to remove that commit if we have an idea how to proceed with migrations. Otherwise I will rename the file to something like we had before.
I'm sure the UI change needs some polishing. Feel free to commit to the branch.

[2018-04-15 12:26] a-tze commented on #157
Note: I deployed the branch on the voc instance, where the feature is currently tested with a non-time-critical event.

[2018-04-18 19:42] a-tze commented on #157
This feature is implemented and tested in 565aa20.

[2018-04-18 19:45] #157 closed

[2018-04-18 19:54] #138 closed

[2018-04-18 21:28] jjeising commented on #160
Working on this in #162.

[2018-04-20 09:41] a-tze opened #163 "Brainstorming: Have dedicated flag for repaired material"
While fixing a bigger amount of material, it seems like there should be a separate boolean flag for tickets, that should be set (by a human) as soon as there is some fixing done outside the automated toolchain.
Needs-attention and comments are very helpful, but difficult to evaluate in the automated parts of the toolchain.

However I'm not really sure how this should look like. In most cases it is

[2018-04-21 15:31] a-tze commented on #90
@pegro I had a look into this and want to fix it. Beside some constraint violations there is an unlucky mixup of encoding profile and encoding profile version. The getEncodingProfile call actually returns the versions of a project, and this is also checked at the beginning of the RPC handler method. The database function however wants to have the profile id instead of a version id. I'd change that

[2018-04-23 14:26] pegro commented on #90
I'm not sure I can follow.

getEncodingProfiles returns a list of encoding profiles. EncodingProfileVersion is joined with EncodingProfile, so you get the columns of the assigned version and all columns of the profile.
On the client I use encoding_profile_id.

[2018-04-23 15:46] a-tze commented on #90
I imagine a client would do the following:

call this https://github.com/crs-tools/tracker/blob/master/src/Application/Controller/XMLRPC/Handler.php#L148

which returns profiles. Choose magically what is to be done and then call
https://github.com/crs-tools/tracker/blob/master/src/Application/Controller/XMLRPC/Handler.php#L346

and now when I look into it again, it's possibly just a mistake here:

[2018-04-23 15:56] pegro commented on #90
Right now it doesn't make a huge difference. The DB function create_missing_encoding_ticket will derive the relevant profile version from the project the meta ticket is assigned to for the given encoding profile.

I don't really care for the actual version in the client. It's like that now because in the Project model, there were no means to just get encoding profiles assigned to the project, only

[2018-04-23 16:25] a-tze commented on #90
Sorry I misread your previous comment.
The method name is still confusing, maybe there should be a transition from getEncodingProfiles to getEncodingProfileVersions to make that more clear.

Back to the original topic: having a flag "auto-create encoding tickets" sounds like a good idea.

What about the current implementations that use the encoding ticket creation via API, what do they do with rec

[2018-04-23 16:39] pegro commented on #90
The issue I have with this, is that this function doesn't return multiple versions of profiles, but just the list of profiles, each in the version assigned to the given project. I kind of want to hide the technical aspect of versions at all to the API users.

In our application we don't use recording tickets at all, so their existence or non-existence is irrelevant.
So we wouldn't mind having reco

[2018-04-25 18:46] jjeising opened #166 "Comment view_serviceable_tickets"
As the complexity of `view_serviceable_tickets` was increased in 154cee0e53f4418a68adda29484212ab1dcf3962 and b9fd43588ab0f06b40b22791af54324aa0cc1f3e it would probably be advisable to add some comments with an explanation for table aliases, special JOINs like `epv2` and the general intent.

[2018-04-25 18:51] jjeising opened #167 "Add computed columns, move properties"
A while ago we already planed to move some commonly (in the tracker) used properties to columns in `tbl_ticket`. A first guidance would probably be

https://github.com/crs-tools/tracker/blob/b9fd43588ab0f06b40b22791af54324aa0cc1f3e/src/Application/Model/Ticket.php#L354-L360

While moving code like this it may also be a good idea to add computed columns for ticket properties depending on the encodi

[2018-04-25 18:53] jjeising commented on #163
Is partially see where this is coming from, but I'm yet unsure how this would be related to automated actions.

What I can imagine here are ticket tags, maybe even in place of needs attention, that freely assignable and reusable. A project could use tags like _repaired-audio_ or _manual-recording_ and use the search to filter tickets to tags (and move states manually for special actions).

[2018-04-25 19:00] jjeising opened #168 "Add documentation"
To use this for different projects and add ease of use for outside users we need aber better documentation of general concepts and workflows.

I would suggest adding a markdown based documentation in a `docs/` folder. An example of a more complex documentation in markdown can be seen [here](https://github.com/php/php-langspec).

I've also added a project and a label to gather contributions.

[2018-04-25 19:02] jjeising commented on #90
In case we have a project flag *auto-create encoding tickets* we could easily add *auto-create recording/ingest tickets*. This seems more consistent.

[2018-04-25 19:03] jjeising commented on #152
Is there something left todo here?

[2018-04-26 08:29] derpeter commented on #152
LGTM

[2018-04-26 19:52] a-tze commented on #163
Tags sound even better.

In any case they should be completely free definable, but I'm unsure if there should be a set of predefined tags. So that users can use them right away without having to think of a tagging scheme first.

[2018-04-26 20:10] jjeising commented on #163
This could be solve with a simple input with autocomplete. Already used tags will be preferred for completion and supplemented with a predefined standard set (maybe slightly dimmed). This would allow simple usage for standard case and fast definition of new tags.

An additional tag administration page in the project preferences could allow renaming (and with this merging) of existing tags.

We cou

[2018-05-14 10:29] a-tze commented on #160
Counter-proposal: make checking an automatable state.

Advantages:
  * changes to data model are very small, no structural changes AFAICS
  * some automated checking (minimum: proper decoding, check of duration) is better than no checking at all and maybe even better than human checking, as is demonstrated by this issue

Disadvantages:
  * Checking worker will usually need to have a ticket filter

[2018-05-14 10:31] MaZderMind commented on #160
@a-tze can't a checker-worker filter on the encoding-profile-properties? In the early days we had room .filter as part of the API – i don't know if that part of the API is still there.

[2018-05-14 10:57] a-tze commented on #160
@MaZderMind Yes, having a filter in the worker is a valid counter-measure, but I did not want that to be a mandatory part of the concept ;)

That part of the API is still there, because there is no other way for the recording worker to filter out recording tickets by their time properties on the server-side, e.g. not getting all of them, inspect the property and then reset them. But IMO the worker

[2018-05-14 11:03] MaZderMind commented on #160
@a-tze From a bare logic standpoint it would be okay to have a "Automatic Checker Worker" which only checks Encoding-Tickets who's Encoding-Profiles have an "eligible-for-automatic-checking=yes" property.

[2018-05-14 11:29] a-tze commented on #160
Hmm. True. This will correlate 99.9% with the master property but an additional property on encoding profiles is not expensive and improves this thing.

[2018-05-14 11:51] MaZderMind commented on #160
@a-tze most importantly it is explicit and does inherently document what it does and who uses it.

[2018-05-14 15:53] pegro commented on #90
## Auto-create ticket flag
But then we're talking about a single flag on a project. Not a flag on a encoding-profile-to-project-assignment?!

I would separate between a) recording and b) encoding tickets.
For a) there is no API to create them (yet), so the only way to have them right now is to auto-create them.
For b) there is API and I would prefer having a flag on each assigned encoding profile,

[2018-05-14 16:01] pegro commented on #160
Properties on encoding profiles get propagated to all projects assigning them. So you can't have automatic-checking disabled in a project, while having it enabled in another!?

I would propose introducing a corresponding flag on the project-profile-assignment, as a database column, disabled as default. Saves us from joining even more tables?!

I also think generally properties which are inherently

[2018-05-14 16:16] MaZderMind commented on #160
@pegro We could have a second Property, like we currently have with `Publishing.YouTube.Enable=yes` (on the Project) and `Publishing.YouTube.EnableProfile=yes` (on the Profile)

[2018-05-14 17:30] pegro commented on #160
Are both of these properties relevant to the tracker itself? Different behavior? Showing/hiding buttons?
I like to think about the tracker without having too much details of how crs-scripts (or other scripts) work in mind.

So I'm still not convinced, but if others are fine with it... ;)

[2018-05-14 17:48] pegro commented on #144
@j-licht Is this still required? What would be the use-case, where a script would need to change ticket priorities?

[2018-05-14 17:49] MaZderMind commented on #160
@pegro none of them are relevant to the tracker in any way. Both are solely controls for a checker-worker, that modifies ticket-states (in this case: after local inspection of the files) - not too different to the recording worker.

[2018-05-14 18:12] pegro commented on #160
Hm I don't think that is true.

For this feature to work, the "checking" state needs to be marked as serviceable to make the tickets available via API. Additionally, the database would need to filter in _view_serviceable_tickets_ which tickets in _next_state = checking_ are actually applicable to be assigned to a worker based on that property.

Also so far we tried to only have UI to do the non-se

[2018-05-14 18:16] MaZderMind commented on #160
Not necessarily. As discussed above this filtering could also be handled on the API-Level, as it is done with the recording Tickets.

But I can see you point here, that the logic might be better fittet within view_serviceable_tickets and then, yes, these Properties are indeed relevant fo the Tracker.

[2018-05-14 18:54] pegro commented on #160
Mh, if you try to handle that just on API level, then you'd have to move the ticket into a state, where it won't be handled by the checking worker again in the next loop. Otherwise this worker would get assigned a ticket to check whether to check or not to check, and if not he would reset the ticket. And if that worker is fast, UI users will need some luck that the rendered "check" buttons will ac

[2018-05-14 19:42] jjeising commented on #160
This was previously discussed and I'm still not convinced, actually it feels more like a strict no.

1) I like that the Tracker is responsible for state transitions, especially all transitions which don't involve any work. Yes, it won't require big changes, but then there is a script which is required to run for the Tracker to work. I don't like this idea.

2) When doing automated checking, why wo

[2018-05-15 21:59] pegro opened #173 "SQL: Ticket state: Use native sort of enumerations instead of separate sort column"
```tbl_ticket_state``` has a column _sort_ to store the order of the ticket states.

[PostgreSQL supports native ordering of enumeration types](https://www.postgresql.org/docs/10/static/datatype-enum.html#id-1.5.7.15.6) and relies on the order of the values when the type was created. So this could replace the sort column for ordering ticket states.

Note: To replace a enum type which is in use, th

[2018-05-15 22:05] a-tze commented on #173
Note: This can AFAIK not completely replace the sort column completely, because there is no native support for (ordered) enums in PHP. To have the states ordered there, the sort is still needed.
Nevertheless, it would reduce lots of things in the SQL part.

[2018-05-15 22:31] jjeising commented on #173
Where would we need this? I can't finde any reference to `'sort'`. There is

https://github.com/crs-tools/tracker/blob/master/src/Application/Model/Project.php#L78-L79

but this is only a query. As we only use strings in PHP, we don't do additional sorting there.

[2018-05-20 12:59] a-tze opened #174 "Slugification of capital umlauts can be improved"
For example, in the filename template a capital Ü is transliterated to UE, which means that e.g. Überwacher is transliterated to UEberwacher.

Ideas: either take some explicit care of it, or slugify to a complete lower-case string.

[2018-05-22 16:28] jjeising commented on #174
Conversion for Umlauts is currently done [here](https://github.com/jjeising/framework/blob/crs-tools-tracker/Library/String.php#L105-L106). I think manual replacement was done, because ´intl´ transliterates _ü_ to _u_ instead of _ue_.
Currently we don't check the context (_Überwacher_ should transliterate to _Ueberwacher_, but _TÜV_ should transliterate to _TUEV_), but this seems a little more com

[2018-05-28 16:34] jjeising commented on #174
Fixed [here](https://github.com/jjeising/framework/commit/fec5c112d9294b8682259be2fca21fd66e05d95c) and in 460d6d3.

[2018-05-28 16:34] #174 closed

[2018-06-10 21:14] saerdnaer opened #175 "Recalculation of progress bars"
When mass deleting (sub)encoding tickets the progress bar on the parent does not get updated. Progress recalculation for a whole conference should be be triggered automatically or manually e.g. via a button.

[2018-06-12 22:29] a-tze commented on #173
There is an order in every dropdown where a state can be selected (Ticket edit / mass edit). Additionally, in the "States" view of project settings the states are in the correct order as well as in the dropdown for the dependee ticket trigger state.

So e.g. it is used additionally here:
https://github.com/crs-tools/tracker/blob/master/src/Application/Controller/Projects.php#L156

The other mentio

[2018-06-12 22:34] a-tze commented on #166
@jjeising I think this is fixed now with #169, what do you think? Forgot to close via commit message.

[2018-06-13 11:39] jjeising commented on #166
Yes, thank you.

[2018-06-13 11:39] #166 closed

[2018-06-13 11:50] jjeising commented on #173
We need ordering, sure, but ordering in PostgreSQL would still work, doesn't it?

What I was trying to say: We don't need support for ordered enums in PHP, as we don't use enums anyway. Arrays in PHP are ordered maps, so when we get ordered results from PostgreSQL this would be enough.

[2018-06-13 15:38] a-tze commented on #173
Correct, my concern was just to get the order from the database into PHP. Since most code seems to rely on a central logic for this, it might be a lot easier than I initially thought.

[2018-06-24 10:53] #90 closed

[2018-06-25 15:41] jjeising opened #178 "Escape ltree input"
The `ltree` extension only supports [`A-Za-z0-9_`](https://www.postgresql.org/docs/9.1/static/ltree.html). Other characters, even in conditions cause Syntax errors which cause exceptions. We need to filter input at least for search, probably also for property creation.

Or maybe just drop `ltree` and use strings? I'm currently not sure if we use any features.

[2018-06-25 19:22] pegro commented on #178
We are not using ltree features as far as I can tell. In the API handler I only use the model and I didn't find any operators specific to ltree there. So I guess using strings is fine.
Maybe defining an own regex in a check contraint would be a good idea, e.g. for prohibiting spaces or equal signs, which might break things somewhere else.

[2018-06-25 20:01] zuntrax opened #179 "Dependent tickets fail to release when their master is not released"
When the "trigger state" for starting dependent tickets is not set to "released", the dependent ticket can be assigned to a releasing worker before the master ticket. This leads to a failed release.

A workaround recommended by @a-tze is to increase the priority of the master encoding profile.

Nevertheless, I think there should be a check to prevent this.

[2018-06-25 20:06] zuntrax opened #180 "Failed release of master ticket blocks dependent encodings"
When the state of a master ticket is set to "releasing failed", its dependent tickets are no longer offered to workers, for encoding, postencoding and postprocessing.

I think we should ignore errors in states after the minimum required state to start dependent tickets.

[2018-06-26 08:21] a-tze commented on #180
Sounds right, but on the other hand sometimes we set tickets on "released failed" or "releasing failed" manually, to show the fact that something is wrong, but the content is published in some way. One aspect of doing this is exactly to stop dependent tickets from wasting ressources.

I would dislike to add more complexity, users are already confused enough about the internals. "Failed is failed,

[2018-06-26 20:28] a-tze commented on #179
It's not luck, because it references only this special situation (voctoweb publishing). There the priority works reliable because there is only one worker instance. And yes, of course the "real fix" is totally out of scope for the tracker.

[2018-06-26 20:46] jjeising commented on #179
… and because the dependent state is *ready to release*? Otherwise it would still be possible to have a dependee in *postprocessing* while the dependent is ready.

Closing this, please open a ticket for [voc/publishing](https://github.com/voc/publishing/issues).

[2018-06-26 20:46] #179 closed

[2018-06-26 21:01] jjeising commented on #180
I like the current behaviour, too. As it was introduced as a new behaviour in #169 we should probably add a message in [_status.html.php](https://github.com/crs-tools/tracker/blob/master/src/Application/View/tickets/view/_status.html.php).

[2018-07-19 06:39] robbi5 opened #181 "Newly created project disappears because user doesn't have rights to see it"
I've just tried to create a fresh project. The "add project" Button is usable, `/project/create` shows the  form and creates the project. But the redirect to the freshly created project then ends on `/{slug}/settings` which only shows "Page not found".

It looks like even if my user has the rights to create a project, that newly created project doesn't get added to the projects my user has access

[2018-07-19 21:44] jjeising commented on #181
Thanks for the report!

This is sort of a known issue, arisen from the idea that people need access to encoding tickets, but still have limited projects.

We should add a project administrator role beside the superuser and remove limiting for superusers.

[2018-07-20 21:21] saerdnaer commented on #181
This happens only when a restricted superuser creates a new project. Why not automaticallly add the user itself, to the project while create it, when the user is restricted?

[2018-09-03 18:23] pegro opened #182 "Encoding ticket of profile with dependency should not be serviceable, if dependee ticket doesn't exist?!"
As far as I could see from reading the code, nothing prevents from having tickets of encoding profiles, which have a dependency profile configured but no tickets for that profile exist.

And in view_serviceable_tickets the LEFT JOINs together with various COALESCE statements render those tickets serviceable, although their input probably doesn't exist.

Or did I miss something?

[2018-09-04 08:44] jjeising commented on #182
I did a quick local test, the encoding ticket appears in the queue, even if the dependent profile was not added to the project. Should probably be fixed in the view first. We might also add an error when a depending encoding profile is added to the project, without its parent?

[2018-09-04 08:50] pegro commented on #182
Yeah, sounds like a good idea.
Also credit to @j-licht for finding this bug.

[2018-09-16 08:33] #175 closed

[2018-09-16 15:36] jjeising commented on #182
Added a warning in #183.

[2018-09-16 21:48] saerdnaer opened #185 "Public API - Released talks: Add filter for master encoding tickets"
I think we should filter the output of https://github.com/crs-tools/tracker/blob/master/src/Application/Controller/API.php#L39 to only output master encoding tickets by default or by optional URL parameter

[2018-09-16 22:05] a-tze commented on #185
Why not just group the output by fahrplan_id on the consumer side?

[2018-09-16 22:06] jjeising commented on #185
What are the current known consumers of this API? Why do they need filtering and which need all releases?

[2018-09-17 22:01] #182 closed

[2018-09-18 13:48] jjeising opened #186 "Introduce project property sets"
To minimize issues with duplicated projects and simplify project creation default sets of project properties could be introduced. A set would hold multiple properties, some of which might be marked as required. Multiple sets of properties could be added to a project on creation or while editing project properties. Required properties would be presented for input after adding a set and may include

[2018-09-18 13:50] jjeising opened #187 "Add default encoding profile versions"
A encoding profile version could be marked as default. Default encoding profile versions would be added to a new project on creation.

[2018-10-20 22:58] j-licht opened #188 "Resetting tickets (and their children)"
For our use case, it's useful to have resetTicket methode in the API.
To allow re-encode a video without re-creating the encoding ticket.
The reset should set a ticket back to its initial state.
So after that commenceState has to be called to get things happen again.
When resetting a meta ticket all encoding childs should also be reset.
When resetting a 'master' encoding ticket, all tickets of a d

[2018-10-21 14:05] saerdnaer commented on #188
Are you aware of the the following feature – you might be able to reuse it for your goals
<img width="915" alt="image" src="https://user-images.githubusercontent.com/40266/47267722-ef5c5480-d547-11e8-85f3-65fb9d1473f4.png">

[2018-10-21 14:06] saerdnaer commented on #185
The typical use case is to get a mapping of the talk id to the corresponding youtube urls, which is empty for the sub-formats.

[2018-10-21 14:12] saerdnaer opened #189 "Ask user to to reset assignee when changes state"
Just a quick note:
When manually changing the state e.g. a recording ticket from `recording` (encoder X) to `recorded` the UI could ask the user if the assignee should be cleared. A simple javascript confirm dialog would be enough.

[2018-10-21 20:46] jjeising commented on #188
Currently we have [`Ticket::resetSource`](https://github.com/crs-tools/tracker/blob/master/src/Application/Model/Ticket.php#L804), which does some similar things, but is very specific.

For consistency and transactional reasons I think this should be moved to a stored procedure, which should also support a desired state for the recording ticket (exact state, first state before or first state after

[2018-10-21 21:30] jjeising commented on #185
I currently tend to a wontfix in this versions of the API. I would like to extend the API and provide a more helpful structure (e.g. formats grouped by ticket). This new API may also include filtering, but probably not, as there are currently not many consumers.

[2018-10-24 21:29] jjeising commented on #188
As arbitrary states can be disabled per project the target (to reset to) state has to computed from a desired hardcoded state. Example: desired state for reset is _ready to encode_, if it is disabled, the next state after should probably be selected.
I first thought about resetting to the previous state for disabled states, but this wouldn't be helpful.

[2018-10-25 17:16] pegro commented on #188
How would you provide these desired states for different ticket types to a stored procedure?
Having explicit parameters for each type? So we'd have to extend the API every time (although it didn't happen for a long time) we add a ticket type?

[2018-11-01 21:12] jjeising opened #192 "Import uncompleted without warning if transaction fails"
If the ticket creation transaction is aborted the import is not finished and is left in a sort of failed state, without a warning for the user.

[2018-11-01 21:18] jjeising opened #193 "Import fails silently if property values exceed given length"
The import fails silent and without further warning, following tickets will not be imported, if a property value (e.g. ticket description) exceeds 8196 characters.

Possible options are an extended validation before import (including XSD validation), truncating values or/and changing property value type from `character varying` to `text`.

[2018-11-02 07:53] derpeter commented on #193
If the change to text has no further implication i would vote for that as we get user input here and it is not specified that this filed has a max length. @a-tze pointed out that we may need to cap it at some point before passing it to ffmpeg but IMHO this should happen at the job level. Not having the fulltext means we cant also not add the fulltext to media.ccc.de or other publishing targets.

[2018-11-02 10:08] a-tze commented on #193
Thinking about all implications, I'm also for changing the data type to text. This leads to "problem solving" on the side of property consumers, not in the source. Postgres handles this efficiently, someone told me a while ago. I also dont think that the value is used in JOINs or similar.

[2018-11-02 10:09] derpeter commented on #193
@jjeising will you have time to fix this before bits und bäume or should i request a change in the schedule?

[2018-11-03 11:52] #193 closed

[2018-11-04 17:11] saerdnaer opened #196 "Add GraphQL API"
As follow up to #185 and in context of https://media.ccc.de/v/geekend2018-5-graphql – what are your options on adding a GraphQL API to the tracker?

It looks like there exist the corresponding libraries for PHP (e.g.
https://github.com/webonyx/graphql-php ) and here is an example GraphQL server implementation https://github.com/benawad/php-graphql-example ( explained in https://www.youtube.com/wat

[2018-11-04 17:12] saerdnaer commented on #185
Okay, created a new issue to discuss a new api #196 and closing this one

[2018-11-04 17:12] #185 closed

[2018-11-04 23:03] jjeising commented on #196
Yes, I've already thought about GraphQL. It requires more implementation work on the server, but seems very flexible.

[2018-11-05 18:55] derpeter opened #197 "Text wraps out of the ticket element in import view"
![tracker-import-text-wrap](https://user-images.githubusercontent.com/599344/48019846-b5d53d00-e134-11e8-9e02-e1cff7260c5b.png)

[2019-01-04 18:53] a-tze opened #199 "The _status component shows "dependee ticket missing", but it's not."
The changes of #182 seem to have introduced the incorrect behaviour, that the status of dependent tickets is nearly always reported as "dependee ticket is missing" while it is actually present.

[2019-02-09 13:42] #181 closed

[2019-02-09 13:57] jjeising commented on #181
_Restricted superuser_ (project administrator) is now allowed to manage all aspects of a project, but cannot edit encoding profiles. _Superuser_ cannot be restricted anymore.

[2019-02-09 23:56] jjeising commented on #155
We now have five digit ids, going to close this until further issues arise.

[2019-02-09 23:56] #155 closed

[2019-02-11 22:10] #199 closed

[2019-03-17 20:24] saerdnaer commented on #181
Can you explain the reason behind this? There are a few use cases where it was helpful to give the superuser rights to a local event admin, without giving them the right to modify other projects.

[2019-03-17 21:02] jjeising commented on #181
Please check the rights of the _Restricted superuser_ (project administrator) role.

[2019-03-17 21:41] saerdnaer opened #204 "Missing foreign key references"
When I looked into the database schema, I found following "missing" foreign key refernces – was this accidental or by design?

[code]

[2019-03-17 21:47] saerdnaer commented on #140
Looks like this issue was resolved:
<img width="484" alt="image" src="https://user-images.githubusercontent.com/40266/54498351-93cfa080-4906-11e9-8a40-e82c6213aa4d.png">

[2019-03-17 21:51] jjeising commented on #140
Nope, you've just used wider preview. This is not resolved and will probably stay open until a complete rework of the CSS.

[2019-03-22 16:14] a-tze commented on #204
I dont understand. Where did you look and where is it missing?

For example, the first FK constraint you mention is here:

https://github.com/crs-tools/tracker/blob/master/src/Application/Migrations/07_comments.sql#L14

The second one has been replaced by a trigger function.

[2019-03-23 18:04] saerdnaer opened #205 "Hide children for closed meta tickets"
When adding new encoding tickets to a exiting project, with existing meta tickets – from which are some already closed ("Frühstück", "Mittagessen", etc.) – these encoding tickets (e.g. subformats) should not be added to the closed ones.

[2019-03-23 19:48] saerdnaer opened #206 "Checking list: mark encoding tickets cut by current user"
As the user who cut the recording, I should not check the master encoding. This should be done by another user. As of now, I can now see, which checking tasks can be performed by myself:

https://tracker.c3voc.de/subscribe10/tickets?t=releasing
<img width="909" alt="image" src="https://user-images.githubusercontent.com/40266/54870909-fb756800-4dac-11e9-917d-70f2fad0bcd5.png">

[2019-03-23 21:49] jjeising commented on #205
Encoding tickets are always for all meta tickets in ordinary projects. We could discuss about putting tickets in a special state. But as other encoding tickets for closed meta tickets stay in _material needed_, I don't see any reason to do something special here.

Why are these tickets a problem?

[2019-03-23 21:50] jjeising commented on #156
@a-tze With the new restricted superuser role, is this still an issue?

[2019-03-23 21:53] jjeising commented on #144
@j-licht Could you give an update?

[2019-03-24 13:36] a-tze commented on #156
@jjeising Yes. It seems that restricted superusers can create new users and give them access to other projects or even admin privileges.

[2019-03-24 13:43] a-tze commented on #156
Looks good

[2019-03-24 13:43] #156 closed

[2019-03-24 21:21] saerdnaer commented on #205
I this weekend's conference we initially had only master mp4 encoding tickets, so I manually deleted the subtickets and got a quite nice representation similar to this:

<img width="889" alt="image" src="https://user-images.githubusercontent.com/40266/54885986-e965f900-4e82-11e9-8f07-b2ed7740fe7f.png">

When I later added the other encoding profile this view was reset, but I actually liked the old

[2019-03-24 21:51] jjeising commented on #205
You shouldn't do that and you are only allowed to do that, because you are admin. Be careful! 🚧

Ok, completely changed requirements. We could maybe update the default view.

[2019-03-28 20:12] j-licht commented on #144
I think there is no use case for this now.

[2019-03-28 20:41] jjeising commented on #144
Thanks for the feedback!

[2019-03-28 20:41] #144 closed

[2019-04-07 17:29] saerdnaer commented on #204
I used a datebase backup of the voc instance, and have to check the schema once I create a new database instance from scratch.

[2019-04-20 10:12] saerdnaer opened #207 "Idea: mass edit project properties via textbox"
Nur eine kleine Idee die mir grade gekommen ist:

Um Project properties im Block einfacher bearbeiten zu können wäre es ggf. sinnvoll auf eine große Textbox umschalten zu können, in der man dann z.B. folgenen Block einfach pasten bzw. per Search/Replace Dinge einfacher ändern kann:
[code]

[2019-04-29 07:27] a-tze opened #208 "Check on dependee ticket state > dependent ticket state missing"
Currently, only profile priority keeps dependent tickets from reaching a "higher" state than the dependee ticket.

[2019-05-04 16:17] pegro opened #209 "XMLRPC: errors not caught, creating invalid XML response"
When calling API functions with invalid arguments, PHP errors are thrown but not handled by the XMLRPC controller.

`Argument 2 passed to Controller_XMLRPC_Handler::resetTicket() must be of the type array, string given`

An easy fix would be to catch Throwables instead of Exceptions in XMLRPC.php:89, but then information about internal workings of the code are exposed, when returning the PHP error

[2019-05-05 20:13] a-tze commented on #209
Opinion: return the actual error message (as in the example above) as error message via XMLRPC, but put backtrace etc. in the logfile.

[2019-05-07 17:20] jjeising commented on #209
That would already be the case, if we implement the suggest fix by @pegro. I think this would be reasonable as our code is already public and there should not be any other errors. Maybe we should catch `DatabaseException` and remove the message in this case (but it was already exposed in the past).

[2019-05-24 11:35] a-tze commented on #205
Tried with CSS but selectors are not powerful enough.. the ticket li elements should have something like data-parent-state, then it's actually easy.

[2019-05-24 11:38] jjeising commented on #205
I don't think filtering with CSS is a good idea, as these views are already heavy on database queries. Reducing the number of tickets loaded from the database can quite speed up these views.

[2019-06-28 13:55] pegro opened #213 "Project: cannot add encoding profiles"
When trying to add an encoding profile to a project, the form gets submitted, but the new profile isn't in the list of profiles nor an error message is shown.
After some digging in log files we found an error:

`ERROR:  lastval is not yet defined in this session
STATEMENT:  SELECT LASTVAL()`

We traced it back to a bug in the Database code in the framework the tracker is based on. See https://gith

[2019-06-28 14:15] pegro commented on #208
Can you give a hint how to reproduce the issue?

[2019-06-28 14:22] a-tze commented on #208
The real world scenario is that you set the "needed state" lower than releasing, lets say postencoded. Then the depending ticket is given to postprocessing, releasing etc. even if the dependee ticket has not progressed so far. So for example, the mp3 file might come to releasing before MP4 master. Current countermeasure is to set the encoding profile priority of the dependee profile to High, but t

[2019-06-28 14:24] pegro commented on #209
Most errors regarding invalid arguments thrown in the controller or model are fine to be returned to the user I think. DatabaseExceptions are rarely useful to the API user, without reading the source code. So I guess @jjeising suggestion is reasonable.

[2019-09-28 12:19] #213 closed

[2019-09-28 13:07] jjeising commented on #204
If you still think there is something missing, please reopen.

[2019-09-28 13:07] #204 closed

[2019-09-28 13:50] #188 closed

[2019-09-28 19:07] #209 closed

[2019-09-28 19:08] jjeising commented on #209
@pegro I've tried to implement the suggested fix, could you test if this helps?

[2019-09-28 19:36] jjeising commented on #205
Closed in 8c1c814.

[2019-09-28 19:36] #205 closed

[2019-09-28 20:45] #208 closed

[2019-09-29 17:47] saerdnaer opened #215 "Ticket list: add switch to hide 'sub format' encodings (Encoding.isMaster = False)"
as discussed yesterday: for operation at the event site, a switch to hide all  'sub format' encodings in the conference ticket list would be quite helpful.

/Users/andi/Documents/temp.png

[2019-09-30 12:35] jjeising opened #216 "Enhance search"
Search should allow searching for values of selected properties. Selected properties may expand in the ticket view, like they do for import.

There is also #111.

[2019-09-30 13:33] jjeising opened #218 "State or ticket for recording independent work"
Some work is independent of the recording (and encoding) and can be done, as soon as the full metadata is available. An example can be found in voc/voctopublish#73.

[2019-09-30 13:36] jjeising commented on #218
@a-tze My issue with that approach would be, that the action is not easily repeatable with the current terms. You currently shouldn't reset a meta ticket to staged if metadata changed for example.

[2019-09-30 14:03] a-tze commented on #218
You would reset it to staging.. and yes, the terms don't match and it's a huge change in concept. However, we're talking about things to be done on METAdata, and before recording starts - so from a certain point of view this looks like a match that should at least be considered.

[2019-09-30 14:09] jjeising commented on #218
I think change from the Fahrplan like missing or additional speaker already occurred during recording or even after the encoding was done – one of the reasons postencoding exists.

[2019-10-01 08:39] derpeter commented on #218
regarding the meta data we may need a "meta data changed at" field.
So if the "pre-recording" worker has already done its job (e.g. render a prerole) can be triggered again if the e.g. the speaker name changed after the intro has been rendered.

For me as an API consumer this sounds like this should be an operation with the meta ticket, even i'm aware that clients should not alter meta tickets for

[2019-10-01 08:50] a-tze commented on #218
The "metadata changed" problem should be solved by using some hash. There is similar logic in the Auphonic worker. The hash can be stored as a regular property and later be rechecked by a worker script.

Of course a "modification timestamp" field is nice, but the hash  solution could be more specific about which metadata attributes it includes. For example it is not relevant for the prerole if the

[2019-10-01 09:06] derpeter commented on #218
Just for clarification: The worker would build the the prerole, calculate a hash over the properties it uses and store that hash in new propertie?

If thats the case i don't see how we would dedect a change without recalculating the hash. As the client chooses which properties are part of the hash, this means that it has to be done by the same client as the tracker don't know whats part of the has

[2019-10-01 09:19] jjeising commented on #218
I'm not sure I understand this yet: what would a worker change on the meta ticket?

I think we could introduce a property _If-modified-since_, so a worker would only get the ticket if meta property changed. The worker could then recalculate its hash and return the ticket if nothing changed. As the metadata is only changed by the Tracker on import, it always knows when changes occurred.

I think we

[2019-10-01 09:32] derpeter commented on #218
It needs to store somewhere that the job is done. This maybe also could be expressed as a state, than we need to allow the worker to change the state of the meta ticket. Or as propertie.

This sounds good to me. Does this also include changed done by the user via the webinterace ? E.g. fixing a typo in the metadata ?

ack

[2019-10-25 16:21] saerdnaer commented on #218
FYI:
I prototyped the issue with additional tickets of type `encoding`. To get information like a `Voctoweb.EventId` from this additional encoding master ticket to the main master encoding ticket I had to write it to the parent ticket, which then yield following dialog when trying to import a new revision of the schedule.xml:

<img width="960" alt="image" src="https://user-images.githubusercontent

[2019-10-25 16:51] jjeising commented on #218
My concerns regarding the use of the meta ticket weren't unfounded… flagging imported properties would be kind of a solution, but this might introduce other issues.

[2019-10-25 18:51] saerdnaer commented on #218
[Disclaimer: I has only skim read the previous discussion and was not aware that you already addressed concerns]
other possible solutions:
* only update properties which start with `Fahrplan.`
* merge properties of the 'independent work' ticket type into encoding tickets, like it is already done with recording tickets.

[2019-10-25 19:22] jjeising commented on #218
I would still suggest introducing a new ticket type that handles other video independent tasks like media publishing.

[2019-10-27 09:32] derpeter commented on #218
I would also prefer to follow this path as it more intutive and we don't need to discuss everthing again

[2019-11-24 16:25] Garionion opened #219 "empty response when working with non existant ticketid"
When talking to the api, using a ticket id which is not existant, the api response is empty instead of a proper description/error code

[2019-11-24 16:27] a-tze commented on #219
Depending on the API call, this might be intended. Please specify the API call(s).

[2019-11-24 16:31] Garionion commented on #219
I had this issue when using [getTicketInfo](https://github.com/crs-tools/tracker/blob/master/src/Application/Controller/XMLRPC/Handler.php#L244).

[2019-11-25 15:28] jjeising commented on #219
According to the code there should be an error. Needs testing.

[2019-12-02 22:52] pegro commented on #219
Commit https://github.com/jjeising/framework/commit/b5d6144198cbb04c3c2578178f1156618bcc99b6 changed `Log::handleException()` to call `exit(255)`, which terminates the PHP processing. I consider this an API breakage. So either all users switch to using `Log::exception()` or the API change should be rolled back.

[2019-12-02 23:44] #219 closed

[2019-12-02 23:45] jjeising commented on #219
You're right. `handleException()` is only intended for `set_exception_handler` and should probably be protected or private, but I think [that's not possible with static methods](https://3v4l.org/Jm9SX). Should probably prefix this method with an underscore.

[2020-01-06 17:28] n0emis opened #221 "Search: is_not_in not working"
When filtering for Tickets with `is_not_in`, so for example Fahrplan.ID is not in 55,66, the Tracker throws an DatabaseStatementException:
[code]

[2020-01-06 19:00] #221 closed

[2020-03-02 13:18] v0tti opened #222 "Allow multiple dependencies for encoding profiles"
It would be great to have the option to have an encoding profile depend on multiple other profiles instead of just one.

This is necessary for scenarios where multiple outputs are used to generate a new video, for example to encode a PiP video of a camera signal and slides capture.

[2020-03-03 17:54] a-tze commented on #222
@v0tti So with "multiple" you mean an "AND" requirement logic?

[2020-03-04 23:22] v0tti commented on #222
An "AND" requirement would solve the problem, yes.

[2021-09-19 08:34] saerdnaer opened #239 "Add slug to search attributes"
right now the c3tracker search does not allow to search for strings in the event's slug – we should change that

[2021-12-28 16:13] a-tze opened #240 "PHP Warning: The each() function is deprecated"
Log output / stacktrace:

(Error) The each() function is deprecated. This message will be suppressed on further calls
	in /srv/www/cccongress/src/Application/Controller/Tickets.php:278
	⤷ Controller_Tickets->evaluateSearch in /srv/www/cccongress/src/Application/Controller/Tickets.php:250
	⤷ Controller_Tickets->search in /srv/www/cccongress/vendor/framework/Library/Controller.php:398
	⤷ Controller-

[2022-02-27 15:31] saerdnaer opened #243 "Add subprojects/studios feature"
Aktuelle Property-Vererebungshierarchie:

* Event-Projekt für die Konferenz
  * Meta-Ticket (Fahrplan-ID & -Metadaten)
    * Recording-Ticket (Sprache, etc)
       * Master-Encoding-Ticket (MP4)
       * weitere Encoding-Tickets für die Subformate: WebM MP3, Opus, SD-Formate, etc.

Wunsch-Hierarchie für dezentrale Konferenzen wie rC3:

Globale Properties aus Projekt 0
* Event-Projekt für die Konfe

[2022-02-27 16:12] CodeFreezr commented on #243
Aus Sicht eines Studios, wäre es gummigut ein Projekt zu haben, wo wir keine Angst haben müssen ein Setting für ein anderes Studio zu überschreiben. Was darüber an Abstraktionen Sinnvoll wäre, wage ich nicht zu beurteilen, aber gründsätzlich klingt global -> series -> event -> studio imho vielversprechend.

Und vielleicht könnten man beim erzeugen einfach ein Art "same as" ergänzen. So könnten z.b

[2022-02-27 16:53] saerdnaer opened #244 "Use room-guid during fahrplan import"
Wenn sich aktuell der Raumname ändert und im Projekt ein Raum-Filter gesetzt ist kommt es zu unerwarteten Ergebnissen, vgl. https://releasing.c3voc.de/trackerfoo.mp4 ab Minute 19.

Damit man um das Problem rum kommt, gibts im Schedule.XML inzwischen auch eine GUID für Räume (vgl. https://github.com/pretalx/pretalx/issues/1118 bzw. https://github.com/frab/frab/issues/507 ) – der Tracker sollte dies

[2022-02-27 20:57] jjeising commented on #243
Was genau soll das denn abdecken? Nur eine Vererbung von Properties? Nutzerrechte? Profile?

Was würde das lösen, was #186 nicht abdeckt?

Project Templates mit Properties hatten wir tatsächlich schon mal diskutiert (und auch befürwortet), siehe #186.

[2022-02-28 20:30] CodeFreezr commented on #243
Ja! #186 klingt schon sehr nach der Projekt-Typ Template Idee. Brauchen wir dann hier an dieser Stelle nicht weiter vertiefen.

Eine Unterscheidung zwischen einem Event-Projekt und Studio-Projekt ermöglicht es unterschiedliche Vorgehensweisen wie http-tracker-flow, import-tool, fuse-tracker-flow, scp, etc. pp. vor allem bei verteilten Events unter einen Hut zu bringen.

Im Endeffekt könnte dieses

[2022-03-01 09:52] saerdnaer commented on #243
Ich dachte jetzt tatsächlich primär an eine Vererbung der Properties. Beim rC3-2020 hatten wir an die 10 Projekte, wenn sich da nen Property während der Veranstaltung bzw. nach dem Initialen kopieren ändert musste man in jedes einzelne Projekt und den Wert dort anpassen. Oder man greift halt direkt via SQL auf die Postgres zu... 🙈

[2022-07-09 08:33] saerdnaer opened #245 "Add SSO login option"
Wenn bei einer Veranstaltung ein neuer Nutzer/Helfer/etc. zum VOC dazu stößt müssen wir aktuell in jedem System (Tracker, Wiki, etc) getrennt Zugangsdaten hinterlegen und Berechtigungen verteilen. Um diesen Prozess zu optimieren möchten wir eine zentrale Login-Verwaltung (auth.c3voc.de) integrieren, die OIDC (aber ggf. auch SAML) spricht.

Generell würden wir OIDC bevorzugen, aber SAML würde wohl